{% extends 'base.html.twig' %}

{% block login %}
    <div class="container">
        <div class="row">
            <h3 class="mt-5 mb-5">Login de usuarios</h3>
            <div class="col-md-6 offset-md-3">
                <!-- Agregamos un label y un input para cada atributo de la clase Usuario -->
                {{ form_start(form, {'action': path('app_sign'), 'method':'POST'}) }}
                <div class="form-group">
                    <label>Name (Only letters allowed)</label>
                    <input class="form-control" type="text" name="name" required pattern="[A-z]+">
                </div>
                <div class="form-group">
                    <label>Surname (Only letters allowed)</label>
                    <input class="form-control" type="text" name="surname" required pattern="[A-z]+">
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr':{'class':'form-control'},'type': 'email'}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr':{'class':'form-control'},'type':'password'}) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info mt-2">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}